<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person[0] }}</td>
            <td>{{ person[1] }}</td>
            <td>{{ person[2] }}</td>
            <td>{{ person[3] }}</td>
            <td>{{ person[4] }}</td>
            <td>{{ person[5] }}</td>
            <td>{{ person[6] }}, {{ person[7] }}, {{ person[8] }}</td>
            <td>{{ person[9] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
